.carousel {
  display: block;
  width: 100%;
  position: relative;

  .images {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 2s;
      transform: scale(1.5);
      opacity: 0;
      filter: contrast(130%) saturate(110%);
    }

    .active {
      opacity: 1;
      transform: scale(1);
      transition: 10s;
    }
  }

  .container_text_carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(47, 95, 67, 0.9); //rgba(2, 66, 34, 0.8)
    //rgba(60, 111, 89, 0.9) true background


    @media all and (max-width:1100px){
      background: rgba(0, 0, 0, 0.74);
    }


    .struct {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      position: relative;
      
      @media all and (max-width:1100px){
        top: 40px;
      }
      .intro {
        display: block;
        width: 45%;
        text-align: left;
        @media all and (max-width:1100px){
          width: 60%;
        }
        @media all and (max-width:647px){
          width: 80%;
        }
        @media all and (max-width:400px){
          width: 100%;
        }

        .text1 {
          display: block;
          font: normal normal bold 45px/55px Lora;
          font-family: "Playfair Display";
          color: white;

          @media all and (max-width:1100px){
            font: normal normal bold 35px/45px Lora;
            font-family: "Playfair Display";
          }

          @media all and (max-width:529px){
           font-size: 25px;
           line-height: 35px;
          }

        }

        .text2 {
          display: block;
          margin-top: 30px;
          font: normal normal normal 16px/30px Roboto;
          letter-spacing: 0px;
          color: #ffffff8f;

          @media all and (max-width:1100px){
            font-size: 14px;
            line-height:25px;
          }

          @media all and (max-width:529px){
            font-size: 12px;
            line-height: 17px;
            margin-top: 20px;
           }

        }

        .btn_home {
          display: flex;
          width: 224px;
          height: 71px;
          background: #ffffff 0% 0% no-repeat padding-box;
          border-radius: 15px;
          justify-content: center;
          align-items: center;
          margin-top: 40px;
          cursor: pointer;

          @media all and (max-width:627px){
            width: 200px;
            height: 65px;

          }

          .ico {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            background: #064524 0% 0% no-repeat padding-box;
            border-radius: 50%;
            color: white;
            font-size: 9px;
            margin-right: 20px;

            @media all and (max-width:627px){
              margin-right: 9px;
              
            }

          }

          .text {
            color: $theme;
            font-size: 18px;
            display: inline-block;
            font-weight: 500;
            @media all and (max-width:627px){
              font-size: 15px;
              
            }
          }
        }
      }

      .presentation {
        display: inline-block;
        width: 40%;

        @media all and (max-width: 1100px) {
          display: none;
        }

        .video {
          display: block;
          width: 100%;
          height: 350px;
          border-radius: 20px;
          overflow: hidden;
          box-shadow: -5px 5px 10px #3a3a3a4f;
          .video_val {
            width: 100%;
            height: 100%;
          }
        }
        .other_info {
          display: inline-flex;
          justify-content: space-between;
          width: 550px;
          margin-top: 0px;
          height: 200px;
          position: absolute;
          bottom: -4px;
          right: 0px;
          transform: translateY(140%);

          .img_ilus {
            display: block;
            width: 49%;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: -30px 30px 99px #3a3a3a29;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .stat {
            background: white;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // background: $theme ;;
            color: $theme;

            .ico {
              display: block;
              margin-bottom: 20px;

              font-size: 50px;
            }

            .text {
              display: inline-block;

              font-size: 16px;
              text-align: center;
              width: 100%;

              .numb {
                display: inline-block;
                font-size: 25px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }


    .scroll_indice{
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%) translateY(0px);
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.3s;

      

      &:after{
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        content: attr(text);
        color: white;
        font-size: 12px;
        font-weight: 200;
        font-family: Poppins;
        width: 111.2px;
      }

      span{
        height: 30px;
        width: 2px;
        background: white;
        display: block;
        margin-top: 25px;
        animation: move_up 2s ease infinite;
      }

    }



  }
}


@keyframes move_up {
0%{transform: translateY(0%);}  
50%{transform: translateY(50%);}  
100%{transform: translateY(0%);}  
}