.cta_help {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  
  //   height: 580px;
  position: relative;
  background-color: $theme;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  object-fit: cover;
  flex-wrap: wrap;
  margin-top: 300px;
  margin-bottom: 100px;
  @media all and (max-width:1171px){
  padding-top: 40px ;
}
@media all and (max-width:1100px){
    margin-top: 80px;
  margin-bottom: 80px;
  }

  .struct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    @media all and (max-width: 1171px) {
      flex-direction: column-reverse;
    }
    @media all and (max-width: 641px) {
      width: 90%;
    }

    .cause_part {
      display: block;
      width: 50%;
      text-align: left;
      @media all and (max-width: 1171px) {
        width: 100%;
        margin-bottom: 40px;
      }

      h1 {
        display: block;
        font: normal normal bold 48px/60px Lora;
        font-family: "Playfair Display";
        letter-spacing: 0.02px;
        color: #ffffff;

        @media all and (max-width: 641px) {
          font-size: 38px;
          line-height: 45px;
        }
      }

      h4 {
        display: block;
        font: normal normal normal 16px/24px Lato;
        letter-spacing: 0px;
        color: #ffffff8c;
        @media all and (max-width: 641px) {
          font-size: 14px;
          line-height: 20px;
        }
      }

      .percent_block {
        display: block;
        width: 100%;
        margin-top: 50px;
        .stat_part {
          display: inline-flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          color: white;
          font: normal normal medium 18px/30px Roboto;
          letter-spacing: 0.01px;
          @media all and (max-width: 641px) {
            font-size: 14px;
            line-height: 20px;
          }

          .stat_item {
            display: inline-block;

            .total_val {
              opacity: 0.8;
            }
          }
        }

        .bar_percent {
          display: flex;
          align-items: center;
          justify-content: left;
          width: 100%;
          height: 5px;
          background: #ffffff 0% 0% no-repeat padding-box;
          border-radius: 100px;
          margin-top: 20px;

          @media all and (max-width: 641px) {
            height: 3px;
          }

          .bar_percent_rich {
            display: block;
            height: 20px;
            width: 65%;
            background: #30e98c 0% 0% no-repeat padding-box;
            border-radius: 100px;
            @media all and (max-width: 641px) {
              height: 10px;
            }
          }
        }
      }

      .actions_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;

        .btn_acts {
          display: inline-flex;
          justify-content: space-between;
          width: 80%;
          @media all and (max-width: 641px) {
            width: 75%;
          }
          @media all and (max-width: 367px) {
            width: 100%;
           }

          .btn_item {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 47%;
            cursor: pointer;
            height: 71px;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 15px;

            @media all and (max-width: 641px) {
              height: 65px;
              width: 45%;
              font-size: 13px;
            }
            @media all and (max-width: 445px) {
              height: 50px;
            }


            




          }

          .clear {
            background: none;
            box-sizing: border-box;
            border: 2px solid;
            color: white;
          }
        }

        .ico_love {
          color: white;
          font-size: 40px;
          cursor: pointer;
          @media all and (max-width: 445px) {
           font-size: 35px;
          }
          @media all and (max-width: 367px) {
           display: none;
          }
        }
      }
    }

    .cause_ilustration {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40%;
      position: relative;
      @media all and (max-width: 1171px) {
        width: 100%;
      }

      .img {
        height: 650px;
        width: 100%;
        border-radius: 40px;
        overflow: hidden;
        transform: translateY(-10%);
        @media all and (max-width:1171px){
            transform: translateY(0%);
        }
        img {
          display: inline-block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .comment_boxe {
        @media all and (max-width: 1300px) {
          display: none !important;
        }
      }
    }

    .ilustration_impact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    img{
      width: 100%;
      display: inline-block;
    }
    }
  }
}


.impact_block{
padding-top: 50px;
padding-bottom: 50px;


@media all and (max-width:800px){
  .ilustration_impact{
    width: 70% !important;
  }
}


}

.cause_detail{
  background: none;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 100px !important;
.struct  {
  width: 90% !important;
}
.struct .cause_part h1 {
  color: black;
}
 .struct .cause_part h4 {

  color: rgba(0, 0, 0, 0.664);
}
.struct .cause_part .percent_block .stat_part{
  color: black;
}

.struct .cause_part .percent_block .bar_percent{
  background: rgba(0, 0, 0, 0.822);
}

.bar_percent_rich{
  background: $theme !important;
}

.btn_item_theme{
  background: $theme !important;
  color: white;
}
.btn_item_clear{
  color: $theme !important;
  border-color: $theme !important;
display: flex;
justify-content: center;
align-items: center;
  i{
    display: inline-block;
    margin-right: 10px;
  }
}

.ico_love{
  color: $theme !important;
}

.cause_ilustration .img{
  transform: translateY(0px) !important;
height: 550px !important;
}
.donate_input{
width: 100%;
display: block;
margin-top: 50px;
border:none;
border: 1px solid ;
height:70px;
border-radius: 17px;
background: white;
padding-left: 20px;
color: rgba(0, 0, 0, 0.822);
font-size: 17px;

}

.detail_donate{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
bottom: 0px;
left: 50%;
transform: translateY(50%) translateX(-50%);
height: 80px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 15px 15px 60px #959FC033;
padding-left: 30px;
padding-right: 30px;
border-radius: 18px;
font-weight: 600;


@media all and (max-width:1171px){
  width: 250px;
transform: translateY(10%) translateX(-50%);;  
}
@media all and (max-width:491px){
  width: 200px;
font-size: 14px;
line-height: normal;
height: 60px;

}


span{
  color: $theme;
  display: inline-block;
  margin-right:10px;
}
}

}